body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  background: #f4f6f9;
}

/* Layout */
.layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #1f2937;
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 30px;
  font-size: 20px;
}

.sidebar a {
  text-decoration: none;
  color: #cbd5e1;
  padding: 10px 12px;
  border-radius: 6px;
  margin-bottom: 8px;
  transition: 0.2s;
}

.sidebar a:hover {
  background: #374151;
}

.sidebar a.active {
  background: #2563eb;
  color: white;
}

/* Content */
.content {
  flex: 1;
  padding: 40px;
}

/* Page Title */
h1 {
  margin-bottom: 25px;
  font-weight: 600;
}

/* Card */
.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.04);
  margin-bottom: 30px;
}

/* Form Layout */
form.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  align-items: end;
}

input, select {
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
}

input:focus, select:focus {
  outline: none;
  border-color: #2563eb;
}

/* Buttons */
button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #1d4ed8;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #2563eb;
  color: white;
}

th, td {
  padding: 12px 14px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #e5e7eb;
}

tbody tr:hover {
  background: #f9fafb;
}

/* Error */
.error {
  color: red;
  margin-bottom: 15px;
}

.success {
  background: #dcfce7;
  color: #166534;
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.error {
  background: #fee2e2;
  color: #991b1b;
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 15px;
}




/* FORM GRID */
.form-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
  gap: 5px;
  align-items: end;
}

/* Each field block */
.form-group {
  display: flex;
  flex-direction: column;
  min-height: 40px;  /* IMPORTANT - keeps height stable */
}

/* Error message space */
.field-error {
  min-height: 12px;
  font-size: 10px;
  color: #dc2626;
  margin-top: 2px;
}

/* Align button properly */
.form-grid button {
  height: 40px;
  margin-top: 0;
}

@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .form-grid button {
    width: 100%;
  }
}

